footer {
	background-color: $black;
}


// Position footer absolutely only for home page
.home {

	#footer {

		@include breakpoint(small) {
			width: 100%;
			max-width: 100%;
			text-align:center;
			padding: 10px 10px 0 10px;
			position:absolute;
			bottom:0;
			z-index:999;
		}

		@include breakpoint(large) {
				display: none;
		}
	}
}


#footer-container {
	max-width: 100%;
	height: calc(100vh - 106);
	width: 100%;
	background: $black;
	clear:both;
	color: $white;
	@include breakpoint(large) {
		padding-top: rem-calc(50);
	}
	font-size: rem-calc(22);


		@include breakpoint(large down) {
		
			// Display Black Rhino SVG logo 
			article#text-6 {
				display: block;
				@include grid-column(50%);

				svg {
					width: rem-calc(150);
				}
			}

			// 50% column width social icons 
			article#text-5 {
				@include grid-column(30%);

				ul svg {
					width: rem-calc(32) !important;
				}
			}			
			
			// Hide Address widgets
			article#text-2,article#text-4  {
				display: none;
			}
		}

		@include breakpoint(large) {
		
			// Hide Black Rhino SVG logo 
			article#text-6 {
				display: none;
			}
		}




	#footer {
		@include grid-row();

		@include breakpoint(small only) {
			width: 100%;
			max-width: 100%;
			text-align:center;
			padding: 10px 10px 0 10px;
		}
		
		@include breakpoint(large) {
			text-align:center;
			padding: rem-calc(30) 0;
		}


		h6 { 
			padding-bottom: rem-calc(15);
			color: $white;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin-right:5px;
			}
			svg { width:64px;}

			svg:hover {
				opacity:0.7;
			}

		}



		article.widget:nth-of-type(1) {
			
			@include breakpoint(large) {
				@include grid-column(4);
				padding-left: 60px !important;
				text-align:left;
			}

		}

		article.widget:nth-of-type(2) {
		
			@include breakpoint(large) {
				@include grid-column(3);
				margin-left: 35px;
				text-align:left;
			}
		}

		// Social icons
		article.widget:nth-of-type(3) {			
			@include breakpoint(large) {
				@include grid-column(5);
				text-align:left;

				ul {
					float:right;
					margin-top: 15px;
				}
			}
		}


	}
}
